version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: production
    ports:
      - "3000:3000"  # Serve on port 80 for HTTP
    environment:
      - NODE_ENV=production

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: production
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production