- name: Install Docker dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - gnupg-agent
    state: present
    update_cache: yes


- name: Check if Docker GPG key exists
  stat:
    path: /usr/share/keyrings/docker-archive-keyring.gpg
  register: docker_gpg_key

- name: Add Docker GPG key if not exists
  shell: curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
  when: not docker_gpg_key.stat.exists
- name: Add Docker repository
  shell: |
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/debian $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present

- name: Start and enable Docker
  systemd:
    name: docker
    enabled: true
    state: started
