# .air.toml example
root = "."
tmp_dir = "tmp"

[build]
  bin = "tmp/main"
  cmd = "go build -o tmp/main ."
  include_ext = ["go"]
  exclude_dir = ["assets", "tmp", "vendor"]
  exclude_file = ["*_test.go"]
  follow_symlink = true
  delay = 2000

[log]
  level = "info"
  color = "true"
