- name: Ensure Python is installed
  raw: |
    if ! command -v python3 &>/dev/null; then
      sudo apt update -y && sudo apt install -y python3
    fi

- name: Ensure Python3 is the default
  raw: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10



- name: Update apt and install dependencies
  apt:
    update_cache: yes
    name:
      - nginx
      - git
      - curl
      - htop
      - ufw

- name: Allow 'Nginx Full' traffic
  ufw:
    rule: allow
    name: 'Nginx Full'
  tags: firewall

- name: Allow OpenSSH traffic
  ufw:
    rule: allow
    name: 'OpenSSH'
  tags: firewall

- name: Enable UFW
  ufw:
    state: enabled
  tags: firewall

- name: Reload UFW to apply changes
  command: ufw reload
  tags: firewall

- name: Wait for port 80 to be open
  wait_for:
    port: 80
    delay: 10
    state: started
  tags: firewall
