- name: Ensure Python is installed
  raw: |
    if ! command -v python3 &>/dev/null; then
      sudo apt update -y && sudo apt install -y python3
    fi

- name: Ensure Python3 is the default
  raw: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10

- name: Update apt and install dependencies
  apt:
    update_cache: yes
    name:
      - nginx
      - git
      - curl
      - htop
