- name: Ensure project directory exists
  file:
    path: /opt/my-portfolio-blog
    state: directory

- name: Clone the repository
  git:
    repo: 'https://github.com/kojikokojiko/my-portfolio-blog.git'
    dest: /opt/my-portfolio-blog
    version: main 


- name: Build and run Docker containers
  command: docker compose up --build -d
  args:
    chdir: /opt/my-portfolio-blog
