- name: Ensure project directory exists
  file:
    path: /opt/my-portfolio-blog
    state: directory

- name: Clone the repository
  git:
    repo: 'https://github.com/kojikokojiko/my-portfolio-blog.git'
    dest: /opt/my-portfolio-blog
    version: main 


- name: Build and run Docker containers
  command: docker compose -f docker-compose.prod.yml up -d --build
  args:
    chdir: /opt/my-portfolio-blog


# Open port
- name: Allow SSH traffic on port 22
  ufw:
    rule: allow
    port: '22'
    proto: tcp
  tags: firewall

- name: Allow HTTP traffic on port 80
  ufw:
    rule: allow
    port: '80'
    proto: tcp
  tags: firewall

- name: Allow HTTPS traffic on port 443
  ufw:
    rule: allow
    port: '443'
    proto: tcp
  tags: firewall

- name: Enable UFW
  ufw:
    state: enabled
  tags: firewall

- name: Reload UFW to apply changes
  command: ufw reload
  tags: firewall

- name: Wait for port 80 to be open
  wait_for:
    port: 80
    delay: 10
    state: started
  tags: firewall
